/build/
/build-*/
/out/
/.happypath/

/generated/

/release-stage/
/dist/
*.zip
*.tar.gz
/generated-bundle.tar.gz

/bios/
/isos/
/saves/
/prepared_disc/
/disc/
.settings/

*.bin
*.cue
*.iso
*.img
*.sub
*.ccd
*.mcd
*.mcr
*.chd
*.car
SCPH*.BIN

bios.cfg
disc.cfg
rom.cfg
settings.toml

/analysis/

/ghidra/projects/
*.gpr
*.rep/
*.lock
*.lock~

.vs/
.vscode/
*.user
*.log
.DS_Store
__pycache__/
CMakeCache.txt
CMakeFiles/
compile_commands.json

psx_crash.txt
psx_last_run_report.json
psx_screenshot.bmp
psx_freeze_heartbeat.json
.psxrecomp_last_generate
.psxrecomp_write_probe
starvation_dump.jsonl

/*.json
/*.bmp
/*.png
!/catalog_identity.json
!/disc_probe.json
