[submodule "psxrecomp"]
	path = psxrecomp
	url = https://github.com/plinkr/psxrecomp.git
	branch = feature/widescreen-sxy-culling
[submodule "recomp-ui"]
	path = recomp-ui
	url = https://github.com/RetroPortingToolKit/recomp-ui.git
	branch = master
